<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asus.zlzjqrcode">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name=".base.BPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        tools:replace="android:icon, android:label,android:theme"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Stact_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >


            <!-- ShareSDK<strong>3.1.0版本之前</strong>才需要在MobUIShell下面注册此意图，3.1.0版本之后（包含3.1.0）不需要注册此intent-->
        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data android:name="Mob-AppKey" android:value="23ec481000a99"/>
        <meta-data android:name="Mob-AppSecret" android:value="93e646000644af875b7e768d70ed1180"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThreeActivity" />
        <activity android:name=".MainActivity"/>
        <service android:name=".service.ServiceLogin"/>
        <activity android:name=".activity.Main_Activity"/>
        <activity android:name=".activity.UserSetActivity"/>
        <activity android:name=".activity.JoinActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.Make_PasswordActivity"/>
        <activity android:name=".activity.Forget_PassWordActivity"/>
        <activity android:name=".activity.MoneyActivity"/>
        <activity android:name=".uset_list.G_ListActivity"/>
        <activity android:name=".uset_list.T_List_Activity"/>
        <activity android:name=".uset_list.C_List_Activity"/>
        <activity android:name=".money_list.T_Money_Activity"/>
        <activity android:name=".money_list.G_Money_Activity"/>
        <activity android:name=".money_list.C_Money_Activity"/>
        <service android:name=".service.DemoService_2"/>
        <activity
            android:name=".utils.CustomVersionDialogActivity"
            android:theme="@style/versionCheckLibvtransparentTheme" />
    </application>



</manifest>